# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/
IntegrationQ.Core/bin/
IntegrationQ.Core/obj/
IntegrationQ.Distributor/bin/
IntegrationQ.Distributor/obj/
IntegrationQ.Processor/bin/
IntegrationQ.Processor/obj/
packages/
